/*col-3*/
@media screen and (max-width: 1000px) {
	body {
		overflow-x: hidden;
	}
	.col-3 {
		width: 50%;
		margin-bottom: 30px;
	}
}


@media screen and (max-width: 680px) {
	body {
		overflow-x: hidden;
	}
	.col-3 {
		width: 100%;
		margin-bottom: 45px;
	}
	.team .article {
		margin-left: 43px;
    }
    .col-2 {
    	width: 100%;
    	margin-bottom: 30px;
    }
    footer .input-box {
         display: flex;
    /*flex-direction: column;*/
         margin-left: 15px;
    }
    footer .article {
    	text-align: center;
    }
   	footer .row-item {
   		padding: 0 20px;
   		text-align: center;
   		/*display: none;*/
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
   }
   footer .footer-left,
   footer .footer-right {
        display: flex;
        flex-direction: column;
    }
}

/*col-4*/
@media screen and (max-width: 1000px) {
	.col-4 {
		width: 50%;
		margin-bottom: 30px;
	}

	/*.team .article {
		margin-left: 70px;
    }*/
}


@media screen and (max-width: 600px) {
	.col-4 {
		width: 100%;
		margin-bottom: 30px;
	}
	.latest .heading-item {
		display: none;
	}

}

